@charset "UTF-8";

:root {
    --color001: #107C10;
    --color002: #52C23D;
    --color003: #000000;
    --color004: #1C1C1C;
    --color005: #464646;
    --color006: #DDDDDD;
    --color007: #FFFFFF;

    --fonte001: ;
}

body {
    background-color: var(--color004);
    font-family: Arial, Helvetica, sans-serif;
}

div#xbox {
    margin-top: 50px;
}

div#xbox img {
    width: 70px;
    display: block;
    margin: auto;
}

div#xbox h1 {
    text-align: center;
    color: white;
    font-size: 20px;
}

div#topo {
    margin-top: -50px;
}

div#login {
    background-color: var(--color004);
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.274);
    border-radius: 15px;
    padding: 80px;
    text-align: center;
    width: 25%;
    min-width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#login form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

div#login input.login2 {
    border: none;
    background-color: var(--color005);
    padding: 18px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0);
    outline: none;
    transition-duration: .3s;
    border: 2px solid transparent;
}

div#login input.login2:focus {
    border: 2px solid var(--color001);
    box-shadow: 0px 0px 10px var(--color001);
    border-radius: 5px;
}

div#login label.info {
    text-align: left;
    margin: 0px;
}

div.info2 {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

div.info2 a {
    color: white;
    text-decoration: none;
    text-align: left;
}

div.info2 a:hover {
    text-decoration: underline;
}

div#login button {
    padding: 20px;
    transition-duration: .3s;
}

div#login button.ent {
    color: white;
    border: none;
    background-color: #107C10;
}

div#login button.reg {
    color: white;
    border: 2px solid var(--color001);
    background-color: #2E2E2E;
}

div#login button.ent:hover {
    box-shadow: 0px 0px 10px var(--color001);
    border-radius: 5px;
    cursor: pointer;
}

div#login button.reg:hover {
    box-shadow: 0px 0px 10px var(--color001);
    border-radius: 5px;
    cursor: pointer;
}